<nav id="sidebar" class="bg-danger">
  <div class="sidebar-header">
    <h1> {{ title }} </h1>
  </div>

  <ul class="list-unstyled components">
    <li>
      <button class="btn btn-primary btn-menu" (click)="toggleMenu()">Opção 1</button>
    </li>
    <li>
      <button class="btn btn-primary btn-menu" (click)="toggleMenu()">Opção 2</button>
    </li>
    <li>
      <button class="btn btn-primary btn-menu" (click)="toggleMenu()">Opção 3</button>
    </li>
    <li>
      <button class="btn btn-primary btn-menu" (click)="toggleMenu()">Opção 4</button>
    </li>
    <li>
      <button class="btn btn-primary btn-menu" (click)="toggleMenu()">Opção 5</button>
    </li>
  </ul>
</nav>
