<div class="text-center" *ngIf="contacts.length === 0">
  <h5>
    Você ainda não cadastrou nenhum contato! A vida é melhor com amigos! Adicione o seu primeiro contato
    <a href="/novo-contato">aqui</a>
  </h5>
</div>

<div class="text-center" *ngIf="contacts.length !== 0">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th class="d-sm-none">Nome</th>
        <th class="d-none d-sm-table-cell">Email</th>
        <th class="d-none d-sm-table-cell">Telefone</th>
        <th class="d-none d-sm-table-cell">É Favorito?</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contact of contacts">
        <td class="d-sm-none">{{ contact.name | titlecase }}</td>
        <td class="d-none d-sm-table-cell">{{ contact.email }}</td>
        <td class="d-none d-sm-table-cell">{{ contact.phoneNumber | phoneNumberPipe }}</td>
        <td class="d-none d-sm-table-cell">{{ contact.isFavorite | isFavoritePipe}}</td>
        <td>
          <div class="d-flex align-items-center justify-content-center">
            <button class="btn btn-transparent mb-2" [routerLink]="['/contatos', contact.id]">
              <img src="/assets/icons/magnifying-glass-solid.svg" alt="ícone de contato" width="15px">
            </button>
            <button class="btn btn-transparent" (click)="deleteContact(contact)">
              <img src="/assets/icons/trash-can-solid.svg" alt="ícone de contato" width="15px">
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
